body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
}

.title {
  text-align: center;
}

#category-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#category-selection label {
  padding-right: 80px;
}

#difficulty-selection {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#difficulty-selection label {
  padding-right: 110px;
}

.btn-start {
  padding-top: 10px;
  text-align: center;
}

.comment{
  margin-bottom: 0;
}

#test {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#timer {
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}

#start-test {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #808080;
}

#start-test:hover {
  background-color: rgba(11, 63, 209, 0.96);
  color: #ffffff;
  border: 1px solid #ffffff;
}

#reset {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #808080;
}

#reset:hover {
  background-color: rgba(11, 63, 209, 0.96);
  color: #ffffff;
  border: 1px solid #ffffff;
}

.question-container {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease;
}

.question {
  width: 50%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.code {
  white-space: pre-wrap;
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.options {
  display: flex;
  flex-direction: column;
}

.options button {
  margin: 5px 0;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-wrapper {
  position: relative;
  width: 200px;
}

#level {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

#category {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-width: 6px 6px 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  pointer-events: none;
}

#level option {
  background-color: #fff;
  padding: 10px;
}

#level:hover {
  background-color: #f0f0f0;
}

#level:focus {
  outline: none;
  border-color: #007bff;
}

#category option {
  background-color: #fff;
  padding: 10px;
}

#category:hover {
  background-color: #f0f0f0;
}

#category:focus {
  outline: none;
  border-color: #007bff;
}

.options button:hover {
  background-color: #0056b3;
}

.correct {
  color: #008000;
}

.incorrect {
  color: #ff0000;
}

.answers {
  background: #f9f9f9;
  border: 1px solid #000000;
  overflow-y: overlay;
  height: 500px;
}

.answers::-webkit-scrollbar {
  width: 12px;
}

.answers::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(11, 63, 209, 0.96);
  border-radius: 10px;
}

.answers::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(135 45 45 / 30%);
}


.selected-level {
  text-transform: uppercase;
}
